In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel('/content/Input_Air Conn_Classification.xlsx')
df.head(20)

   Origin Destination   Airlines Flight No       ETD       ETA   Type
0     AGR         AMD     Indigo    6D7031  15:55:00  17:55:00    GCR
1     AGR         BLR     Indigo    6D0308  13:00:00  15:40:00    GCR
2     AGR         BLR     Indigo    6D0942  14:55:00  17:40:00    GCR
3     AGR         BOM     Indigo    6D5338  13:55:00  15:50:00    GCR
4     AGR         HYD     Indigo    6D6478  16:40:00  18:45:00    GCR
5     AJL         BLR     Indigo    6D0316  14:30:00  19:55:00    GCR
6     AJL         CCU     Indigo    6D0433  14:55:00  16:05:00    GCR
7     AJL         DEL     Indigo    6D2081  14:00:00  16:50:00    GCR
8     AJL         DEL     Indigo    6D5366  15:30:00  18:15:00    GCR
9     AJL         GAU     Indigo    6D0316  14:30:00  15:25:00    GCR
10    AMD         AGR     Indigo    6D7145  13:25:00  15:30:00    GCR
11    AMD         ATQ     Indigo    6D0346  11:35:00  13:30:00    GCR
12    AMD         BBI     Indigo    6D6237  18:15:00  20:35:00    GCR
13    AMD         BBI     Indigo    6D2123  19:35:00  21:55:00    GCR
14    AMD         BHO     Indigo    6D7582  06:15:00  08:05:00    GCR
15    AMD         BLR     Indigo    6D6422  04:05:00  06:25:00  PRIME
16    AMD         BLR  Air India    AI2636  08:45:00  11:10:00    GCR
17    AMD         BLR     Indigo    6D0823  09:00:00  11:20:00    GCR
18    AMD         BLR     Indigo    6D6546  11:25:00  13:45:00    GCR
19    AMD         BLR     Indigo    6D0863  16:40:00  19:00:00    GCR

In [ ]:
df['Origin'].nunique()

72

In [ ]:
df['Destination'].nunique()

73

In [ ]:
import pandas as pd

# Sample air connection data
# df = pd.read_csv("/content/available_air_connections.csv")  # Assuming your data is in this file

# Provided IATA to city mapping
iata_to_city = {
    "AGR": "Agra, Uttar Pradesh, India",
    "AJL": "Aizawl, Mizoram, India",
    "AMD": "Ahmedabad, Gujarat, India",
    "ATQ": "Amritsar, Punjab, India",
    "BBI": "Bhubaneswar, Odisha, India",
    "BDQ": "Vadodara, Gujarat, India",
    "BHO": "Bhopal, Madhya Pradesh, India",
    "BHU": "Bhavnagar, Gujarat, India",
    "BLR": "Bengaluru, Karnataka, India",
    "BOM": "Mumbai, Maharashtra, India",
    "BHJ": "Bhuj, Gujarat, India",
    "CJB": "Coimbatore, Tamil Nadu, India",
    "CCJ": "Calicut (Kozhikode), Kerala, India",
    "CNN": "Kannur, Kerala, India",
    "CCU": "Kolkata, West Bengal, India",
    "COK": "Kochi, Kerala, India",
    "DEL": "New Delhi, Delhi, India",
    "DBR": "Darbhanga, Bihar, India",
    "DIB": "Dibrugarh, Assam, India",
    "DMU": "Dimapur, Nagaland, India",
    "DED": "Dehradun, Uttarakhand, India",
    "GAU": "Guwahati, Assam, India",
    "GOI": "Goa, India",
    "GOP": "Gorakhpur, Uttar Pradesh, India",
    "GWL": "Gwalior, Madhya Pradesh, India",
    "GOX": "North Goa, India",
    "HBX": "Hubli, Karnataka, India",
    "HSR": "Hisar, Haryana, India",
    "HYD": "Hyderabad, Telangana, India",
    "IDR": "Indore, Madhya Pradesh, India",
    "IMF": "Imphal, Manipur, India",
    "ISK": "Nashik, Maharashtra, India",
    "IXA": "Agartala, Tripura, India",
    "IXB": "Bagdogra, West Bengal, India",
    "IXC": "Chandigarh, India",
    "IXD": "Prayagraj (Allahabad), Uttar Pradesh, India",
    "IXE": "Mangalore, Karnataka, India",
    "IXG": "Belagavi, Karnataka, India",
    "IXJ": "Jammu, Jammu and Kashmir, India",
    "IXL": "Leh, Ladakh, India",
    "IXM": "Madurai, Tamil Nadu, India",
    "IXR": "Ranchi, Jharkhand, India",
    "IXS": "Silchar, Assam, India",
    "IXU": "Aurangabad, Maharashtra, India",
    "IXY": "Kandla, Gujarat, India",
    "IXZ": "Port Blair, Andaman and Nicobar Islands, India",
    "JAI": "Jaipur, Rajasthan, India",
    "JDH": "Jodhpur, Rajasthan, India",
    "JRH": "Jorhat, Assam, India",
    "JGA": "Jamnagar, Gujarat, India",
    "JLR": "Jabalpur, Madhya Pradesh, India",
    "KLH": "Kolhapur, Maharashtra, India",
    "KNU": "Kanpur, Uttar Pradesh, India",
    "LKO": "Lucknow, Uttar Pradesh, India",
    "MAA": "Chennai, Tamil Nadu, India",
    "NAG": "Nagpur, Maharashtra, India",
    "PAT": "Patna, Bihar, India",
    "PNQ": "Pune, Maharashtra, India",
    "RDP": "Durgapur, West Bengal, India",
    "RJA": "Rajahmundry, Andhra Pradesh, India",
    "RPR": "Raipur, Chhattisgarh, India",
    "SAG": "Shirdi, Maharashtra, India",
    "STV": "Surat, Gujarat, India",
    "SXR": "Srinagar, Jammu and Kashmir, India",
    "TCR": "Tuticorin (Thoothukudi), Tamil Nadu, India",
    "TIR": "Tirupati, Andhra Pradesh, India",
    "TRZ": "Tiruchirappalli, Tamil Nadu, India",
    "TRV": "Thiruvananthapuram, Kerala, India",
    "UDR": "Udaipur, Rajasthan, India",
    "VGA": "Vijayawada, Andhra Pradesh, India",
    "VNS": "Varanasi, Uttar Pradesh, India",
    "VTZ": "Visakhapatnam, Andhra Pradesh, India",
}


# Provided allowed cities
allowed_cities = [
    'AHMEDABAD', 'BARODA', 'RAJKOT', 'SURAT', 'VAPI', 'ANKLESHWAR',
    'KUTCH', 'MEHSANA', 'BHAVNAGAR', 'JAMNAGAR', 'GANDHINAGAR',
    'ANAND', 'SURENDRANAGAR', 'BHUJ', 'HALOL', 'SANAND', 'DAHEJ',
    'MANGALORE', 'MYSORE', 'HUBLI', 'GULBARGA', 'BANGALORE',
    'VISHAKAPATNAM', 'CHITRADURGA', 'BELGAUM', 'HASSAN', 'HOSPET',
    'HOSUR', 'PANJIM', 'VIJAYAWADA', 'SHIMOGA', 'SIRSI', 'BAGALKOT',
    'BIJAPUR', 'TUMKUR', 'BELLARY', 'DAVANGERE', 'MARGAO', 'UDUPI',
    'BIDAR', 'RAICHUR', 'CHICKAMAGALUR', 'SALCETE', 'MANDYA',
    'PONDICHERRY', 'KATPADI', 'CHENNAI', 'VILLUPURAM - TN',
    'SECUNDRABAD', 'SALEM', 'THANDALAM', 'CHENGALPATTU', 'KANCHIPURAM',
    'SRICITY', 'TIRUPUR', 'ERODE', 'HYDERABAD', 'KARUR', 'TRICHY',
    'DINDIGUL', 'MADURAI', 'TIRUNELVELI', 'TUTICORIN', 'NAGERCOIL',
    'COIMBATORE', 'KRISHNAGIRI', 'SIVAKASI', 'THANJAVUR', 'THENI',
    'COCHIN', 'WARANGAL', 'KARIMNAGAR', 'MAHABUBNAGAR', 'NIZAMABAD',
    'KHAMMAM', 'SURYAPET', 'RANGAREDDY', 'MANCHERIAL', 'INDORE',
    'BHOPAL', 'PITAMPUR', 'RATLAM', 'JABALPUR', 'CHINDWARA',
    'MANDSAUR / DASPURKUNJ', 'REWA', 'DEWAS', 'NEEMUCH', 'SAGAR(MP)',
    'BETUL', 'UJJAIN', 'MANDIDEEP (RAISEN)', 'CHANDIGARH', 'JALANDHAR',
    'LUDHIANA', 'PANIPAT', 'AMRITSAR', 'AMBALA', 'HISSAR', 'BHATINDA',
    'VARANASI', 'PATHANKOT', 'BADDI', 'PANCHKULA', 'SHIMLA', 'KARNAL',
    'RAJPURA', 'PHAGWARA', 'PATIALA', 'NANGAL', 'BILASPUR ( H.P.)',
    'MOHALI', 'ROHTAK', 'KUNDLI', 'SAHIBABAD', 'RUDRAPUR', 'NOIDA',
    'SIRSA', 'BAHADURGARH', 'SOLAN', 'MOGA', 'YAMUNA NAGAR', 'KHARAR',
    'KOLKATA', 'KRISHNANAGAR', 'HOWRAH', 'ALIPURDWAR', 'KALIMPONG',
    'RANIGANJ', 'BANKRA', 'MATIGARA', 'BARUIPUR', 'MAYNAGURI',
    'DURGAPUR', 'SILIGURI', 'ASANSOL', 'MALDAH', 'PURULIA',
    'DIAMOND HARBOUR', 'MECHEDA', 'BAHARAMPORE', 'KHARAGPUR',
    'BURDWAN', 'GANGTOK', 'FULIA', 'PORT BLAIR', 'BANKURA',
    'COOCHBEHAR', 'SERAMPORE', 'RANGPO', 'DARJEELING', 'BIRBHUM',
    'HALDIA', 'GURGAON', 'DHARUHERA', 'LUCKNOW', 'NUH', 'MUMBAI',
    'BHIWANDI', 'PANVEL', 'BHIWANDI CITY JAKAT NAKA', 'DELHI',
    'KASHIPUR', 'KANPUR', 'JAMMU', 'SRINAGAR -JK', 'JAIPUR',
    'ALLEPPEY', 'CALICUT', 'PALGHAT', 'TRICHUR', 'TRIVANDRUM',
    'KOTTAYAM', 'QUILON', 'CANNANORE', 'TIRUVALLA', 'KOTTAKKAL',
    'ALWAYE', 'CHERTHALA', 'CHANGANACHERRY', 'IDUKKI', 'KALPETTA',
    'KASARGOD', 'MUVATTUPUZHA', 'THALASSERY', 'PUNE', 'SOLAPUR',
    'AHMEDNAGAR', 'AURANGABAD MH', 'SANGLI', 'KOLHAPUR', 'SATARA',
    'LATUR', 'NANDED', 'NASIK', 'JALGAON', 'CHIPLUN', 'BARAMATI',
    'KANKAVLI', 'TEMBHURNI', 'PANDHARPUR', 'DHULE', 'SHIRWAL',
    'PARBHANI', 'RATNAGIRI', 'JALNA', 'ICHALAKARANJI', 'SHIRDI',
    'JODHPUR', 'KOTA', 'UDAIPUR', 'ALWAR', 'AJMER', 'PALI (RJ)',
    'BHIWADI', 'BHILWARA', 'SRIGANGANAGAR', 'BIKANER', 'SIKAR',
    'BEHROR', 'BAWAL', 'BHARATPUR', 'NAGPUR', 'CHANDRAPUR -MH',
    'AKOLA', 'RAIPUR', 'BILASPUR', 'BHILAI', 'KORBA', 'AMARAVATI',
    'YAVATMAL', 'RAIGARH', 'KHAMGAON', 'AMBIKAPUR(CG)', 'FARIDABAD',
    'BALLABGARH', 'PATNA', 'RANCHI', 'JAMSHEDPUR', 'DHANBAD',
    'MUZAFFARPUR', 'BHAGALPUR', 'GAYA', 'BOKARO', 'PURNIA', 'SAHARSA',
    'KATIHAR', 'MUNGER', 'DARBHANGA', 'HAZARIBAGH', 'MOTIHARI',
    'CHAPRA', 'GOPALGUNJ', 'VAISHALI (BH)', 'BEGUSARI', 'SAMASTIPUR',
    'DUMKA', 'GODDA', 'MOHANIA', 'ALLAHABAD', 'GHAZIABAD', 'GORAKHPUR',
    'GWALIOR', 'AGRA', 'DEHRADUN', 'ORAI (JALAUN)', 'HALDWANI',
    'MEERUT', 'GAZIPUR', 'BARABANKI', 'MORADABAD', 'LAKHIMPUR',
    'KANNAUJ', 'BASTI', 'RAIBARELI', 'BULANDSHAHAR', 'BAREILLY',
    'ALIGARH', 'RISHIKESH', 'HARDWAR', 'MUZAFFARNAGAR', 'SHAHARANPUR',
    'ROORKEE', 'JHANSI', 'MATHURA', 'FAIZABAD', 'VAISHALI (UP)',
    'BIJNOR', 'RENUKOOT', 'GONDA', 'SHAHJAHANPUR -UP', 'AMETHI',
    'JAUNPUR', 'DIBIYAPUR', 'SULTANPUR', 'TIRUPATI', 'KURNOOL',
    'RAJAHMUNDRY', 'ANANTHPUR', 'GUNTUR', 'NELLORE', 'ONGOLE',
    'VIZIANAGARAM', 'SRIKAKULAM', 'CUDDAPAH', 'KAKINADA',
    'MADANAPALLY', 'NANDYAL', 'CHITTOOR', 'BHIMAVARAM', 'CUTTACK',
    'ROURKELA', 'BERHAMPUR -OR', 'JAJPUR', 'BALASORE', 'SAMBALPUR',
    'RAYAGADA', 'ANGUL', 'BHUBANESHWAR', 'JHARSUGUDA', 'BHADRAK',
    'PURI', 'KORAPUT', 'BOLANGIR', 'KHURDA', 'PARADEEP', 'GUWAHATI',
    'SILCHAR', 'AGARTALA', 'DIBRUGARH', 'TEZPUR', 'SHILLONG', 'AIZWAL',
    'IMPHAL', 'BONGAIGON', 'JORHAT', 'TINSUKIA', 'GOALPARA', 'NAOGAON',
    'DHUBRI', 'ITANAGAR', 'SIBSAGAR', 'GOLAGHAT', 'NORTH LAKHIMPUR',
    'DHARMANAGAR', 'MORANHAT', 'VASAI', 'DULIAJAN', 'SILAPATHAR',
    'UDAIPUR-TP', 'KALIABOR', 'KATNI', 'SATNA', 'DANAPUR', 'BARASAT'
]

# Helper to extract city name and match to allowed cities
def extract_and_match_city(full_address):
    city = full_address.split(',')[0].strip().upper()
    return city if city in allowed_cities else None

# Cleaned IATA to matched city mapping
iata_to_clean_city = {
    code: extract_and_match_city(city_info)
    for code, city_info in iata_to_city.items()
}

# Map origin and destination codes
df["origin_city"] = df["Origin"].map(iata_to_clean_city)
df["destination_city"] = df["Destination"].map(iata_to_clean_city)

# Find unmatched IATA codes
unmatched_origin_iata = df.loc[df["origin_city"].isna(), "Origin"].unique().tolist()
unmatched_destination_iata = df.loc[df["destination_city"].isna(), "Destination"].unique().tolist()

# Output the results
print("Unmatched Origin Cities Count:", len(unmatched_origin_iata))
print("Unmatched Origin IATA Codes:", unmatched_origin_iata)
print("Unmatched Destination Cities Count:", len(unmatched_destination_iata))
print("Unmatched Destination IATA Codes:", unmatched_destination_iata)

# # Save the result
# df.to_csv("air_connections_with_city_names.csv", index=False)

Unmatched Origin Cities Count: 24
Unmatched Origin IATA Codes: ['AJL', 'BBI', 'BDQ', 'BLR', 'CCJ', 'CNN', 'COK', 'DEL', 'DMU', 'GOI', 'GOX', 'HSR', 'ISK', 'IXB', 'IXD', 'IXG', 'IXL', 'IXU', 'IXY', 'SXR', 'TCR', 'TRV', 'TRZ', 'VTZ']
Unmatched Destination Cities Count: 25
Unmatched Destination IATA Codes: ['BLR', 'DEL', 'BBI', 'COK', 'DMU', 'GOI', 'GOX', 'ISK', 'IXB', 'SXR', 'TRV', 'VTZ', 'IXD', 'AJL', 'BDQ', 'CCJ', 'CNN', 'HSR', 'IXG', 'IXU', 'TCR', 'TRZ', 'IXL', 'IXY', 'HJR']

In [ ]:
# Mapping for the additional IATA codes
additional_iata_mapping = {
    "BLR": "BANGALORE",
    "DEL": "DELHI",
    "BBI": "BHUBANESHWAR",
    "COK": "COCHIN",
    "DMU": "DIMAPUR",
    "GOI": "PANJIM",
    "GOX": "PANJIM",
    "ISK": "NASIK",
    "IXB": "SILIGURI",
    "SXR": "SRINAGAR -JK",
    "TRV": "TRIVANDRUM",
    "VTZ": "VISHAKAPATNAM",
    "IXD": "ALLAHABAD",
    "AJL": "AIZWAL",
    "BDQ": "BARODA",
    "CCJ": "CALICUT",
    "CNN": "CANNANORE",
    "HSR": "HISSAR",
    "IXG": "BELGAUM",
    "IXU": "AURANGABAD MH",
    "TCR": "TIRUNELVELI",
    "TRZ": "TRICHY",
    "IXL": "LEH",
    "IXY": "BHUJ",
    "HJR": "KHAJURAHO"
}

# Update the iata_to_clean_city mapping with the additional cities
iata_to_clean_city.update(additional_iata_mapping)

# Re-map origin and destination codes using the updated mapping
df["origin_city"] = df["Origin"].map(iata_to_clean_city)
df["destination_city"] = df["Destination"].map(iata_to_clean_city)

# Find unmatched IATA codes again
unmatched_origin_iata_after_update = df.loc[df["origin_city"].isna(), "Origin"].unique().tolist()
unmatched_destination_iata_after_update = df.loc[df["destination_city"].isna(), "Destination"].unique().tolist()

# Output the results after update
print("\nAfter update:")
print("Unmatched Origin Cities Count:", len(unmatched_origin_iata_after_update))
print("Unmatched Origin IATA Codes:", unmatched_origin_iata_after_update)
print("Unmatched Destination Cities Count:", len(unmatched_destination_iata_after_update))
print("Unmatched Destination IATA Codes:", unmatched_destination_iata_after_update)

df.head(20)

After update:
Unmatched Origin Cities Count: 0
Unmatched Origin IATA Codes: []
Unmatched Destination Cities Count: 0
Unmatched Destination IATA Codes: []

,Origin,Destination,Airlines,Flight No,ETD,ETA,Type,origin_city,destination_city
0,AGR,AMD,Indigo,6D7031,15:55:00,17:55:00,GCR,AGRA,AHMEDABAD
1,AGR,BLR,Indigo,6D0308,13:00:00,15:40:00,GCR,AGRA,BANGALORE
2,AGR,BLR,Indigo,6D0942,14:55:00,17:40:00,GCR,AGRA,BANGALORE
3,AGR,BOM,Indigo,6D5338,13:55:00,15:50:00,GCR,AGRA,MUMBAI
4,AGR,HYD,Indigo,6D6478,16:40:00,18:45:00,GCR,AGRA,HYDERABAD
5,AJL,BLR,Indigo,6D0316,14:30:00,19:55:00,GCR,AIZWAL,BANGALORE
6,AJL,CCU,Indigo,6D0433,14:55:00,16:05:00,GCR,AIZWAL,KOLKATA
7,AJL,DEL,Indigo,6D2081,14:00:00,16:50:00,GCR,AIZWAL,DELHI
8,AJL,DEL,Indigo,6D5366,15:30:00,18:15:00,GCR,AIZWAL,DELHI
9,AJL,GAU,Indigo,6D0316,14:30:00,15:25:00,GCR,AIZWAL,GUWAHATI
10,AMD,AGR,Indigo,6D7145,13:25:00,15:30:00,GCR,AHMEDABAD,AGRA
11,AMD,ATQ,Indigo,6D0346,11:35:00,13:30:00,GCR,AHMEDABAD,AMRITSAR
12,AMD,BBI,Indigo,6D6237,18:15:00,20:35:00,GCR,AHMEDABAD,BHUBANESHWAR
13,AMD,BBI,Indigo,6D2123,19:35:00,21:55:00,GCR,AHMEDABAD,BHUBANESHWAR
14,AMD,BHO,Indigo,6D7582,06:15:00,08:05:00,GCR,AHMEDABAD,BHOPAL
15,AMD,BLR,Indigo,6D6422,04:05:00,06:25:00,PRIME,AHMEDABAD,BANGALORE
16,AMD,BLR,Air India,AI2636,08:45:00,11:10:00,GCR,AHMEDABAD,BANGALORE
17,AMD,BLR,Indigo,6D0823,09:00:00,11:20:00,GCR,AHMEDABAD,BANGALORE
18,AMD,BLR,Indigo,6D6546,11:25:00,13:45:00,GCR,AHMEDABAD,BANGALORE
19,AMD,BLR,Indigo,6D0863,16:40:00,19:00:00,GCR,AHMEDABAD,BANGALORE

## Finding the path

In [ ]:
# Group by Origin, Destination, and Type and aggregate the relevant columns
grouped_df = df.groupby(['Origin', 'Destination', 'Type']).agg({
    'Airlines': (lambda x: ', '.join(x.unique())),
    'Flight No': (lambda x: ', '.join(x)),
    'ETD': 'first', # Assuming ETD and ETA are the same for a given type
    'ETA': 'first',
    'origin_city': 'first',
    'destination_city': 'first'
}).reset_index()

# Display the resulting dataframe
display(grouped_df.head())

,Origin,Destination,Type,Airlines,Flight No,ETD,ETA,origin_city,destination_city
0,AGR,AMD,GCR,Indigo,6D7031,15:55:00,17:55:00,AGRA,AHMEDABAD
1,AGR,BLR,GCR,Indigo,"6D0308, 6D0942",13:00:00,15:40:00,AGRA,BANGALORE
2,AGR,BOM,GCR,Indigo,6D5338,13:55:00,15:50:00,AGRA,MUMBAI
3,AGR,HYD,GCR,Indigo,6D6478,16:40:00,18:45:00,AGRA,HYDERABAD
4,AJL,BLR,GCR,Indigo,6D0316,14:30:00,19:55:00,AIZWAL,BANGALORE

In [ ]:
grouped_df.head(50)

,Origin,Destination,Type,Airlines,Flight No,ETD,ETA,origin_city,destination_city
0,AGR,AMD,GCR,Indigo,6D7031,15:55:00,17:55:00,AGRA,AHMEDABAD
1,AGR,BLR,GCR,Indigo,"6D0308, 6D0942",13:00:00,15:40:00,AGRA,BANGALORE
2,AGR,BOM,GCR,Indigo,6D5338,13:55:00,15:50:00,AGRA,MUMBAI
3,AGR,HYD,GCR,Indigo,6D6478,16:40:00,18:45:00,AGRA,HYDERABAD
4,AJL,BLR,GCR,Indigo,6D0316,14:30:00,19:55:00,AIZWAL,BANGALORE
5,AJL,CCU,GCR,Indigo,6D0433,14:55:00,16:05:00,AIZWAL,KOLKATA
6,AJL,DEL,GCR,Indigo,"6D2081, 6D5366",14:00:00,16:50:00,AIZWAL,DELHI
7,AJL,GAU,GCR,Indigo,6D0316,14:30:00,15:25:00,AIZWAL,GUWAHATI
8,AMD,AGR,GCR,Indigo,6D7145,13:25:00,15:30:00,AHMEDABAD,AGRA
9,AMD,ATQ,GCR,Indigo,6D0346,11:35:00,13:30:00,AHMEDABAD,AMRITSAR
10,AMD,BBI,GCR,Indigo,"6D6237, 6D2123",18:15:00,20:35:00,AHMEDABAD,BHUBANESHWAR
11,AMD,BHO,GCR,Indigo,6D7582,06:15:00,08:05:00,AHMEDABAD,BHOPAL
12,AMD,BLR,GCR,"Air India, Indigo, Akasa","AI2636, 6D0823, 6D6546, 6D0863, QP1905, 6D0481...",08:45:00,11:10:00,AHMEDABAD,BANGALORE
13,AMD,BLR,PRIME,Indigo,"6D6422, 6D0996",04:05:00,06:25:00,AHMEDABAD,BANGALORE
14,AMD,BOM,GCR,"Indigo, Air India, Akasa","6D0803, 6D6285, AI2918, AI0614, 6D2046, QP1102...",01:15:00,02:45:00,AHMEDABAD,MUMBAI
15,AMD,CCU,GCR,"Akasa, Indigo","QP1925, 6D0751, 6D6556, 6D0319",05:20:00,07:50:00,AHMEDABAD,KOLKATA
16,AMD,CCU,PRIME,Indigo,6D0966,06:05:00,08:45:00,AHMEDABAD,KOLKATA
17,AMD,CJB,GCR,Indigo,6D0479,07:00:00,11:10:00,AHMEDABAD,COIMBATORE
18,AMD,COK,GCR,Indigo,6D6391,10:30:00,12:55:00,AHMEDABAD,COCHIN
19,AMD,DED,GCR,Indigo,"6D6712, 6D0424",13:45:00,15:25:00,AHMEDABAD,DEHRADUN
20,AMD,DEL,GCR,"Akasa, SpiceJet, Air India, Indigo","QP1145, SG8194, AI2906, 6D2736, AI0818, AI2946...",05:40:00,07:30:00,AHMEDABAD,DELHI
21,AMD,DEL,PRIME,Indigo,"6D2209, 6D2263",04:55:00,06:40:00,AHMEDABAD,DELHI
22,AMD,DMU,GCR,Indigo,6D6441,08:30:00,13:45:00,AHMEDABAD,DIMAPUR
23,AMD,GAU,GCR,Indigo,6D6441,08:30:00,11:05:00,AHMEDABAD,GUWAHATI
24,AMD,GOI,GCR,Indigo,"6D6418, 6D0992",04:50:00,06:25:00,AHMEDABAD,PANJIM
25,AMD,GOX,GCR,"SpiceJet, Akasa, Indigo","SG0460, QP1533, 6D6345, 6D0258",05:55:00,07:35:00,AHMEDABAD,PANJIM
26,AMD,HYD,GCR,Indigo,"6D0998, 6D6098, 6D6728",12:50:00,14:35:00,AHMEDABAD,HYDERABAD
27,AMD,HYD,PRIME,Indigo,"6D5208, 6D0879, 6D0383",05:50:00,07:45:00,AHMEDABAD,HYDERABAD
28,AMD,IDR,GCR,Indigo,"6D7173, 6D7725, 6D7187",06:10:00,07:35:00,AHMEDABAD,INDORE
29,AMD,ISK,GCR,Indigo,6D7115,10:45:00,12:00:00,AHMEDABAD,NASIK
30,AMD,IXB,GCR,"Indigo, Akasa","6D0751, QP1903",09:20:00,13:45:00,AHMEDABAD,SILIGURI
31,AMD,IXC,GCR,Indigo,"6D6375, 6D0246, 6D6506",09:30:00,11:15:00,AHMEDABAD,CHANDIGARH
32,AMD,IXJ,GCR,Indigo,6D6687,08:05:00,10:10:00,AHMEDABAD,JAMMU
33,AMD,IXR,GCR,Indigo,6D6493,14:15:00,16:25:00,AHMEDABAD,RANCHI
34,AMD,JAI,GCR,Indigo,"6D7114, 6D7261, 6D7131",06:30:00,08:15:00,AHMEDABAD,JAIPUR
35,AMD,JDH,GCR,Indigo,6D7074,09:40:00,11:00:00,AHMEDABAD,JODHPUR
36,AMD,LKO,GCR,Indigo,"6D6244, 6D0935",07:05:00,09:00:00,AHMEDABAD,LUCKNOW
37,AMD,MAA,GCR,Indigo,"6D6539, 6D0348",16:25:00,18:55:00,AHMEDABAD,CHENNAI
38,AMD,MAA,PRIME,Indigo,"6D6078, 6D0479",05:30:00,07:50:00,AHMEDABAD,CHENNAI
39,AMD,NAG,GCR,Indigo,"6D7502, 6D7247",05:50:00,07:55:00,AHMEDABAD,NAGPUR
40,AMD,PAT,GCR,"Indigo, SpiceJet","6D0921, SG0534",11:05:00,13:10:00,AHMEDABAD,PATNA
41,AMD,PNQ,GCR,"Indigo, Akasa","6D0699, QP1505, 6D0522, 6D0794, QP1508",02:45:00,04:00:00,AHMEDABAD,PUNE
42,AMD,RDP,GCR,Indigo,6D2771,11:20:00,16:00:00,AHMEDABAD,DURGAPUR
43,AMD,RPR,GCR,Indigo,6D6193,11:30:00,13:10:00,AHMEDABAD,RAIPUR
44,AMD,SXR,GCR,Indigo,6D6164,08:00:00,10:10:00,AHMEDABAD,SRINAGAR -JK
45,AMD,TRV,GCR,Indigo,6D6237,17:45:00,20:25:00,AHMEDABAD,TRIVANDRUM
46,AMD,VNS,GCR,Indigo,6D6805,18:45:00,20:35:00,AHMEDABAD,VARANASI
47,AMD,VTZ,GCR,Indigo,6D0879,08:25:00,12:15:00,AHMEDABAD,VISHAKAPATNAM
48,ATQ,AMD,GCR,Indigo,6D0347,14:00:00,15:50:00,AMRITSAR,AHMEDABAD
49,ATQ,BLR,GCR,"Indigo, Air India","6D0478, IX1976",16:05:00,19:30:00,AMRITSAR,BANGALORE

In [ ]:
# prompt: remove the columns Flight No, ETA, ETD, Airlines

grouped_df = grouped_df.drop(columns=['Flight No', 'ETA', 'ETD', 'Airlines'])
display(grouped_df.head(40))

   Origin Destination   Type origin_city destination_city
0     AGR         AMD    GCR        AGRA        AHMEDABAD
1     AGR         BLR    GCR        AGRA        BANGALORE
2     AGR         BOM    GCR        AGRA           MUMBAI
3     AGR         HYD    GCR        AGRA        HYDERABAD
4     AJL         BLR    GCR      AIZWAL        BANGALORE
5     AJL         CCU    GCR      AIZWAL          KOLKATA
6     AJL         DEL    GCR      AIZWAL            DELHI
7     AJL         GAU    GCR      AIZWAL         GUWAHATI
8     AMD         AGR    GCR   AHMEDABAD             AGRA
9     AMD         ATQ    GCR   AHMEDABAD         AMRITSAR
10    AMD         BBI    GCR   AHMEDABAD     BHUBANESHWAR
11    AMD         BHO    GCR   AHMEDABAD           BHOPAL
12    AMD         BLR    GCR   AHMEDABAD        BANGALORE
13    AMD         BLR  PRIME   AHMEDABAD        BANGALORE
14    AMD         BOM    GCR   AHMEDABAD           MUMBAI
15    AMD         CCU    GCR   AHMEDABAD          KOLKATA
16    AMD         CCU  PRIME   AHMEDABAD          KOLKATA
17    AMD         CJB    GCR   AHMEDABAD       COIMBATORE
18    AMD         COK    GCR   AHMEDABAD           COCHIN
19    AMD         DED    GCR   AHMEDABAD         DEHRADUN
20    AMD         DEL    GCR   AHMEDABAD            DELHI
21    AMD         DEL  PRIME   AHMEDABAD            DELHI
22    AMD         DMU    GCR   AHMEDABAD          DIMAPUR
23    AMD         GAU    GCR   AHMEDABAD         GUWAHATI
24    AMD         GOI    GCR   AHMEDABAD           PANJIM
25    AMD         GOX    GCR   AHMEDABAD           PANJIM
26    AMD         HYD    GCR   AHMEDABAD        HYDERABAD
27    AMD         HYD  PRIME   AHMEDABAD        HYDERABAD
28    AMD         IDR    GCR   AHMEDABAD           INDORE
29    AMD         ISK    GCR   AHMEDABAD            NASIK
30    AMD         IXB    GCR   AHMEDABAD         SILIGURI
31    AMD         IXC    GCR   AHMEDABAD       CHANDIGARH
32    AMD         IXJ    GCR   AHMEDABAD            JAMMU
33    AMD         IXR    GCR   AHMEDABAD           RANCHI
34    AMD         JAI    GCR   AHMEDABAD           JAIPUR
35    AMD         JDH    GCR   AHMEDABAD          JODHPUR
36    AMD         LKO    GCR   AHMEDABAD          LUCKNOW
37    AMD         MAA    GCR   AHMEDABAD          CHENNAI
38    AMD         MAA  PRIME   AHMEDABAD          CHENNAI
39    AMD         NAG    GCR   AHMEDABAD           NAGPUR

In [ ]:
# prompt: drop Origin and Destination columns, and make new dataframe,

# Drop the 'Origin' and 'Destination' columns from the grouped_df
new_df = grouped_df.drop(columns=['Origin', 'Destination'])

# Display the new dataframe
display(new_df.head(40))

     Type origin_city destination_city
0     GCR        AGRA        AHMEDABAD
1     GCR        AGRA        BANGALORE
2     GCR        AGRA           MUMBAI
3     GCR        AGRA        HYDERABAD
4     GCR      AIZWAL        BANGALORE
5     GCR      AIZWAL          KOLKATA
6     GCR      AIZWAL            DELHI
7     GCR      AIZWAL         GUWAHATI
8     GCR   AHMEDABAD             AGRA
9     GCR   AHMEDABAD         AMRITSAR
10    GCR   AHMEDABAD     BHUBANESHWAR
11    GCR   AHMEDABAD           BHOPAL
12    GCR   AHMEDABAD        BANGALORE
13  PRIME   AHMEDABAD        BANGALORE
14    GCR   AHMEDABAD           MUMBAI
15    GCR   AHMEDABAD          KOLKATA
16  PRIME   AHMEDABAD          KOLKATA
17    GCR   AHMEDABAD       COIMBATORE
18    GCR   AHMEDABAD           COCHIN
19    GCR   AHMEDABAD         DEHRADUN
20    GCR   AHMEDABAD            DELHI
21  PRIME   AHMEDABAD            DELHI
22    GCR   AHMEDABAD          DIMAPUR
23    GCR   AHMEDABAD         GUWAHATI
24    GCR   AHMEDABAD           PANJIM
25    GCR   AHMEDABAD           PANJIM
26    GCR   AHMEDABAD        HYDERABAD
27  PRIME   AHMEDABAD        HYDERABAD
28    GCR   AHMEDABAD           INDORE
29    GCR   AHMEDABAD            NASIK
30    GCR   AHMEDABAD         SILIGURI
31    GCR   AHMEDABAD       CHANDIGARH
32    GCR   AHMEDABAD            JAMMU
33    GCR   AHMEDABAD           RANCHI
34    GCR   AHMEDABAD           JAIPUR
35    GCR   AHMEDABAD          JODHPUR
36    GCR   AHMEDABAD          LUCKNOW
37    GCR   AHMEDABAD          CHENNAI
38  PRIME   AHMEDABAD          CHENNAI
39    GCR   AHMEDABAD           NAGPUR

In [ ]:
# prompt: replace the name of column type with Aeroplane category

new_df = new_df.rename(columns={'Type': 'Aeroplane category'})
display(new_df.head(40))

   Aeroplane category origin_city destination_city
0                 GCR        AGRA        AHMEDABAD
1                 GCR        AGRA        BANGALORE
2                 GCR        AGRA           MUMBAI
3                 GCR        AGRA        HYDERABAD
4                 GCR      AIZWAL        BANGALORE
5                 GCR      AIZWAL          KOLKATA
6                 GCR      AIZWAL            DELHI
7                 GCR      AIZWAL         GUWAHATI
8                 GCR   AHMEDABAD             AGRA
9                 GCR   AHMEDABAD         AMRITSAR
10                GCR   AHMEDABAD     BHUBANESHWAR
11                GCR   AHMEDABAD           BHOPAL
12                GCR   AHMEDABAD        BANGALORE
13              PRIME   AHMEDABAD        BANGALORE
14                GCR   AHMEDABAD           MUMBAI
15                GCR   AHMEDABAD          KOLKATA
16              PRIME   AHMEDABAD          KOLKATA
17                GCR   AHMEDABAD       COIMBATORE
18                GCR   AHMEDABAD           COCHIN
19                GCR   AHMEDABAD         DEHRADUN
20                GCR   AHMEDABAD            DELHI
21              PRIME   AHMEDABAD            DELHI
22                GCR   AHMEDABAD          DIMAPUR
23                GCR   AHMEDABAD         GUWAHATI
24                GCR   AHMEDABAD           PANJIM
25                GCR   AHMEDABAD           PANJIM
26                GCR   AHMEDABAD        HYDERABAD
27              PRIME   AHMEDABAD        HYDERABAD
28                GCR   AHMEDABAD           INDORE
29                GCR   AHMEDABAD            NASIK
30                GCR   AHMEDABAD         SILIGURI
31                GCR   AHMEDABAD       CHANDIGARH
32                GCR   AHMEDABAD            JAMMU
33                GCR   AHMEDABAD           RANCHI
34                GCR   AHMEDABAD           JAIPUR
35                GCR   AHMEDABAD          JODHPUR
36                GCR   AHMEDABAD          LUCKNOW
37                GCR   AHMEDABAD          CHENNAI
38              PRIME   AHMEDABAD          CHENNAI
39                GCR   AHMEDABAD           NAGPUR

In [ ]:
new_df.to_csv('flight_connection.csv')

In [ ]:
# prompt: find which are the OD pairs, having both Prime and GCR connection and how many are they

# Pivot the dataframe to get 'Prime' and 'GCR' categories as columns
pivot_df = new_df.pivot_table(
    index=['origin_city', 'destination_city'],
    columns='Aeroplane category',
    aggfunc='size',
    fill_value=0
).reset_index()

# Check if both 'Prime' and 'GCR' columns exist, otherwise create them with zeros
if 'Prime' not in pivot_df.columns:
    pivot_df['Prime'] = 0
if 'GCR' not in pivot_df.columns:
    pivot_df['GCR'] = 0

# Find OD pairs having both Prime and GCR connections
od_pairs_with_both = pivot_df[(pivot_df['Prime'] > 0) & (pivot_df['GCR'] > 0)]

# Count the number of such OD pairs
count_od_pairs_with_both = len(od_pairs_with_both)

print("OD pairs having both Prime and GCR connections:")
display(od_pairs_with_both)
print(f"\nNumber of OD pairs having both Prime and GCR connections: {count_od_pairs_with_both}")

OD pairs having both Prime and GCR connections:

Empty DataFrame
Columns: [origin_city, destination_city, GCR, PRIME, Prime]
Index: []

Number of OD pairs having both Prime and GCR connections: 0

In [ ]:
import pandas as pd

# Load the two datasets
# Replace with your actual file paths
df_routes = new_df  # Dataset 1
df_flights = pd.read_csv("/content/lets.csv")  # Dataset 2

# Clean column names (optional but useful)
df_routes.columns = df_routes.columns.str.strip().str.lower().str.replace(" ", "_")
df_flights.columns = df_flights.columns.str.strip().str.lower().str.replace(" ", "_")

# Filter only available flights in shipment data
available_flights = df_flights[df_flights["flight_available_(updated)"].str.lower() == "yes"]

# Create a lookup from origin city + destination city to one sample row in available_flights
# We lowercase all for consistent comparison
flight_lookup = {}
for _, row in available_flights.iterrows():
    origin = row["origin_city"].strip().lower()
    dest = row["destination_city"].strip().lower()
    key = (origin, dest)
    if key not in flight_lookup:
        flight_lookup[key] = row

# Function to build the flow path
def get_flow_path(origin, destination, lookup):
    key = (origin.strip().lower(), destination.strip().lower())
    if key in lookup:
        row = lookup[key]
        return (
            f"{row['origin_city']}  {row['origin_hub_city']}  {row['origin_airport_city']}  "
            f"{row['destination_airport_city']}  {row['destination_hub_city']}  {row['destination_city']}"
        )
    else:
        return None

# Function to generate final dataframe based on category
def build_route_df(category):
    filtered = df_routes[df_routes["aeroplane_category"].str.upper() == category.upper()]
    rows = []
    for _, r in filtered.iterrows():
        origin = r["origin_city"]
        dest = r["destination_city"]
        flow_path = get_flow_path(origin, dest, flight_lookup)
        if flow_path:
            rows.append({
                "origin_city": origin,
                "destination_city": dest,
                "flow_path": flow_path
            })
    return pd.DataFrame(rows)

# Build GCR and PRIME route dataframes
gcr_routes_df = build_route_df("GCR")
prime_routes_df = build_route_df("PRIME")

# Save to CSV if needed
gcr_routes_df.to_csv("gcr_routes.csv", index=False)
prime_routes_df.to_csv("prime_routes.csv", index=False)

# Show preview
print(" GCR Routes Sample:")
print(gcr_routes_df.head())

print("\n PRIME Routes Sample:")
print(prime_routes_df.head())

 GCR Routes Sample:
  origin_city destination_city  \
0        AGRA        AHMEDABAD
1        AGRA        BANGALORE
2        AGRA           MUMBAI
3        AGRA        HYDERABAD
4   AHMEDABAD             AGRA

                                           flow_path
0  AGRA  AGRA  AGRA  AHMEDABAD  AHMEDABAD  A...
1  AGRA  AGRA  AGRA  BANGALORE  BANGALORE  B...
2      AGRA  AGRA  AGRA  MUMBAI  MUMBAI  MUMBAI
3  AGRA  AGRA  AGRA  HYDERABAD  HYDERABAD  H...
4  AHMEDABAD  AHMEDABAD  AHMEDABAD  AGRA  AGR...

 PRIME Routes Sample:
  origin_city destination_city  \
0   AHMEDABAD        BANGALORE
1   AHMEDABAD          KOLKATA
2   AHMEDABAD            DELHI
3   AHMEDABAD        HYDERABAD
4   AHMEDABAD          CHENNAI

                                           flow_path
0  AHMEDABAD  AHMEDABAD  AHMEDABAD  BANGALORE ...
1  AHMEDABAD  AHMEDABAD  AHMEDABAD  KOLKATA  ...
2  AHMEDABAD  AHMEDABAD  AHMEDABAD  DELHI  DE...
3  AHMEDABAD  AHMEDABAD  AHMEDABAD  HYDERABAD ...
4  AHMEDABAD  AHMEDABAD  AHMEDABAD  CHENNAI  ...

In [ ]:
import pandas as pd

# Load datasets
df_routes = new_df  # Dataset 1
df_flights = pd.read_csv("/content/lets.csv")

# Clean column names
df_routes.columns = df_routes.columns.str.strip().str.lower().str.replace(" ", "_")
df_flights.columns = df_flights.columns.str.strip().str.lower().str.replace(" ", "_")

# Filter available flights
available_flights = df_flights[df_flights["flight_available_(updated)"].str.lower() == "yes"]

# Build a lookup: (origin_city, destination_city)  one row
flight_lookup = {}
for _, row in available_flights.iterrows():
    origin = row["origin_city"].strip().lower()
    dest = row["destination_city"].strip().lower()
    key = (origin, dest)
    if key not in flight_lookup:
        flight_lookup[key] = row

# Function to generate flow path with icons and remove repetitions
def get_flow_path(origin, destination, lookup):
    key = (origin.strip().lower(), destination.strip().lower())
    if key not in lookup:
        return None

    row = lookup[key]

    # Extract full path components
    path = [
        row['origin_city'],
        row['origin_hub_city'],
        row['origin_airport_city'],
        row['destination_airport_city'],
        row['destination_hub_city'],
        row['destination_city']
    ]

    # Remove consecutive duplicates
    deduped_path = [path[0]]
    for city in path[1:]:
        if city != deduped_path[-1]:
            deduped_path.append(city)

    # Add icons: flight between airport cities only
    path_with_icons = []
    for i in range(len(deduped_path)-1):
        src = deduped_path[i]
        dst = deduped_path[i+1]

        if (src == row['origin_airport_city'] and dst == row['destination_airport_city']):
            path_with_icons.append(f"{src} ")
        else:
            path_with_icons.append(f"{src} ")
    path_with_icons.append(deduped_path[-1])  # Final destination, no symbol after

    return " ".join(path_with_icons)

# Function to build final route DataFrame
def build_route_df(category):
    filtered = df_routes[df_routes["aeroplane_category"].str.upper() == category.upper()]
    rows = []
    for _, r in filtered.iterrows():
        origin = r["origin_city"]
        dest = r["destination_city"]
        flow_path = get_flow_path(origin, dest, flight_lookup)
        if flow_path:
            rows.append({
                "origin_city": origin,
                "destination_city": dest,
                "flow_path": flow_path
            })
    return pd.DataFrame(rows)

# Build both DataFrames
gcr_routes_df = build_route_df("GCR")
prime_routes_df = build_route_df("PRIME")

# Save to CSV
gcr_routes_df.to_csv("gcr_routes_with_icons.csv", index=False)
prime_routes_df.to_csv("prime_routes_with_icons.csv", index=False)

# Show preview
print(" GCR Routes Sample:")
print(gcr_routes_df.head())

print("\n PRIME Routes Sample:")
print(prime_routes_df.head())

 GCR Routes Sample:
  origin_city destination_city          flow_path
0        AGRA        AHMEDABAD  AGRA  AHMEDABAD
1        AGRA        BANGALORE  AGRA  BANGALORE
2        AGRA           MUMBAI     AGRA  MUMBAI
3        AGRA        HYDERABAD  AGRA  HYDERABAD
4   AHMEDABAD             AGRA  AHMEDABAD  AGRA

 PRIME Routes Sample:
  origin_city destination_city               flow_path
0   AHMEDABAD        BANGALORE  AHMEDABAD  BANGALORE
1   AHMEDABAD          KOLKATA    AHMEDABAD  KOLKATA
2   AHMEDABAD            DELHI      AHMEDABAD  DELHI
3   AHMEDABAD        HYDERABAD  AHMEDABAD  HYDERABAD
4   AHMEDABAD          CHENNAI    AHMEDABAD  CHENNAI

In [ ]:
gcr_routes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 831 entries, 0 to 830
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   origin_city       831 non-null    object
 1   destination_city  831 non-null    object
 2   flow_path         831 non-null    object
dtypes: object(3)
memory usage: 19.6+ KB

In [ ]:
prime_routes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   origin_city       64 non-null     object
 1   destination_city  64 non-null     object
 2   flow_path         64 non-null     object
dtypes: object(3)
memory usage: 1.6+ KB

In [ ]:
import pandas as pd

# Load datasets
df_routes = new_df
df_flights = pd.read_csv("lets.csv")

# Clean column names
df_routes.columns = df_routes.columns.str.strip().str.lower().str.replace(" ", "_")
df_flights.columns = df_flights.columns.str.strip().str.lower().str.replace(" ", "_")

# Filter for available flights only
available_flights = df_flights[df_flights["flight_available_(updated)"].str.lower() == "yes"]

# Build lookup dictionary: (origin_city, destination_city)  row
flight_lookup = {}
for _, row in available_flights.iterrows():
    o = row['origin_city'].strip().lower()
    d = row['destination_city'].strip().lower()
    flight_lookup[(o, d)] = row

# Function to generate flow path with correct logic
def get_flow_path(origin, destination, lookup):
    key = (origin.strip().lower(), destination.strip().lower())
    if key not in lookup:
        return None

    row = lookup[key]

    path = [
        row['origin_city'],
        row['origin_hub_city'],
        row['origin_airport_city'],
        row['destination_airport_city'],
        row['destination_hub_city'],
        row['destination_city']
    ]

    # Remove consecutive duplicates
    deduped_path = [path[0]]
    for city in path[1:]:
        if city != deduped_path[-1]:
            deduped_path.append(city)

    # Add travel mode symbols:  for flight segment only
    full_path_with_icons = []
    for i in range(len(deduped_path) - 1):
        current_city = deduped_path[i]
        next_city = deduped_path[i + 1]

        if current_city == row['origin_airport_city'] and next_city == row['destination_airport_city']:
            full_path_with_icons.append(f"{current_city} ")
        else:
            full_path_with_icons.append(f"{current_city} ")

    full_path_with_icons.append(deduped_path[-1])  # Add the last city

    return " ".join(full_path_with_icons)

# Function to build route DataFrame by category
def build_route_df(category):
    filtered = df_routes[df_routes["aeroplane_category"].str.upper() == category.upper()]
    records = []

    for _, row in filtered.iterrows():
        origin = row['origin_city']
        destination = row['destination_city']
        flow = get_flow_path(origin, destination, flight_lookup)

        if flow:
            records.append({
                'origin_city': origin,
                'destination_city': destination,
                'flow_path': flow
            })

    return pd.DataFrame(records)

# Build GCR and PRIME route dataframes
gcr_df = build_route_df("GCR")
prime_df = build_route_df("PRIME")

# Save to CSVs
gcr_df.to_csv("GCR_Flight_Flows.csv", index=False)
prime_df.to_csv("PRIME_Flight_Flows.csv", index=False)

# Print preview
print(" GCR Preview:")
print(gcr_df.head())

print("\n PRIME Preview:")
print(prime_df.head())

 GCR Preview:
  origin_city destination_city          flow_path
0        AGRA        AHMEDABAD  AGRA  AHMEDABAD
1        AGRA        BANGALORE  AGRA  BANGALORE
2        AGRA           MUMBAI     AGRA  MUMBAI
3        AGRA        HYDERABAD  AGRA  HYDERABAD
4   AHMEDABAD             AGRA  AHMEDABAD  AGRA

 PRIME Preview:
  origin_city destination_city               flow_path
0   AHMEDABAD        BANGALORE  AHMEDABAD  BANGALORE
1   AHMEDABAD          KOLKATA    AHMEDABAD  KOLKATA
2   AHMEDABAD            DELHI      AHMEDABAD  DELHI
3   AHMEDABAD        HYDERABAD  AHMEDABAD  HYDERABAD
4   AHMEDABAD          CHENNAI    AHMEDABAD  CHENNAI

In [ ]:
gcr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 831 entries, 0 to 830
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   origin_city       831 non-null    object
 1   destination_city  831 non-null    object
 2   flow_path         831 non-null    object
dtypes: object(3)
memory usage: 19.6+ KB

In [ ]:
prime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   origin_city       64 non-null     object
 1   destination_city  64 non-null     object
 2   flow_path         64 non-null     object
dtypes: object(3)
memory usage: 1.6+ KB

In [ ]:
import pandas as pd

# Load input CSVs
shipment_df = pd.read_csv("lets.csv")
flight_routes_df = new_df

# Standardize column names
shipment_df.columns = shipment_df.columns.str.strip().str.lower().str.replace(" ", "_")
flight_routes_df.columns = flight_routes_df.columns.str.strip().str.lower().str.replace(" ", "_")

# Map of (origin_airport, dest_airport)  [GCR, PRIME]
flight_type_map = {}
for _, row in flight_routes_df.iterrows():
    orig = row['origin_city'].strip().lower()
    dest = row['destination_city'].strip().lower()
    category = row['aeroplane_category'].strip().upper()
    flight_type_map.setdefault((orig, dest), set()).add(category)

# Containers for GCR and PRIME outputs
gcr_data = []
prime_data = []

# Process each shipment route
for _, row in shipment_df.iterrows():
    if str(row['flight_available_(updated)']).strip().lower() != 'yes':
        continue  # Only consider available flights

    # Clean city names
    origin_city = row['origin_city'].strip()
    origin_hub = row['origin_hub_city'].strip()
    origin_airport = row['origin_airport_city'].strip()
    dest_airport = row['destination_airport_city'].strip()
    dest_hub = row['destination_hub_city'].strip()
    destination_city = row['destination_city'].strip()

    # Build full path
    raw_path = [origin_city, origin_hub, origin_airport, dest_airport, dest_hub, destination_city]

    # Remove consecutive duplicates
    cleaned_path = [raw_path[0]]
    for city in raw_path[1:]:
        if city != cleaned_path[-1]:
            cleaned_path.append(city)

    # Add icons ( between airport cities,  otherwise)
    final_path = []
    for i in range(len(cleaned_path) - 1):
        city_from = cleaned_path[i]
        city_to = cleaned_path[i + 1]
        if city_from == origin_airport and city_to == dest_airport:
            final_path.append(f"{city_from} ")
        else:
            final_path.append(f"{city_from} ")
    final_path.append(cleaned_path[-1])  # Add final city

    flow_path_str = " ".join(final_path)

    # Determine flight type
    key = (origin_airport.strip().lower(), dest_airport.strip().lower())
    categories = flight_type_map.get(key, set())

    if "GCR" in categories:
        gcr_data.append({
            "origin_city": origin_city,
            "destination_city": destination_city,
            "flow_path": flow_path_str
        })
    if "PRIME" in categories:
        prime_data.append({
            "origin_city": origin_city,
            "destination_city": destination_city,
            "flow_path": flow_path_str
        })

# Create DataFrames and save
pd.DataFrame(gcr_data).to_csv("GCR_Flight_Flows_Final.csv", index=False)
pd.DataFrame(prime_data).to_csv("PRIME_Flight_Flows_Final.csv", index=False)

print(" GCR and PRIME flight flows saved successfully.")

 GCR and PRIME flight flows saved successfully.

In [ ]:
pd.DataFrame(gcr_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87442 entries, 0 to 87441
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   origin_city       87442 non-null  object
 1   destination_city  87442 non-null  object
 2   flow_path         87442 non-null  object
dtypes: object(3)
memory usage: 2.0+ MB

In [ ]:
pd.DataFrame(prime_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19880 entries, 0 to 19879
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   origin_city       19880 non-null  object
 1   destination_city  19880 non-null  object
 2   flow_path         19880 non-null  object
dtypes: object(3)
memory usage: 466.1+ KB

In [ ]:
import pandas as pd

# Load the volume dataset
df = pd.read_csv("/content/new_to_look.csv")  # Replace with actual filename

# 1. EXPORT SHIPMENT DATA
shipment_data_cols = [
    'Origin Branch', 'Origin Hub', 'Origin Hub City', 'Origin Airport City',
    'Destination Airport City', 'Destination Hub City', 'Destination Hub',
    'Destination Branch', 'New Product GCP', 'Weights', 'Conno',
    'Flight_Mode', 'Product_Path'
]
shipment_data = df[shipment_data_cols]
shipment_data.to_csv("shipment_data.csv", index=False)
print(" Saved: shipment_data.csv")

# 2. EXPORT UNIQUE NO FLIGHT OD PAIRS
no_flight_df = df[df['Flight_Mode'] == 'NO_FLIGHT']

# Get unique city-to-city OD pairs (use city columns, not branch codes)
no_flight_od_pairs = no_flight_df[[
    'Origin Hub City', 'Destination Hub City'
]].drop_duplicates().reset_index(drop=True)

no_flight_od_pairs.rename(columns={
    'Origin Hub City': 'Origin City',
    'Destination Hub City': 'Destination City'
}, inplace=True)

# no_flight_od_pairs.to_csv("no_flight_OD_pairs.csv", index=False)
# print(" Saved: no_flight_OD_pairs.csv")

 Saved: shipment_data.csv

In [ ]:
import pandas as pd

# STEP 1: Load shipment dataset
df = pd.read_csv("shipment_data.csv")

# STEP 2: Clean and prepare data
df["Weights"] = df["Weights"].fillna(0)
df["Conno"] = df["Conno"].fillna(0)

# STEP 3: Create a Flight_Mode column
def get_mode(row):
    if row["Flight_Mode"] == "NO_FLIGHT":
        return "NO_FLIGHT"
    elif row["Flight_Mode"] == "PRIME+GCR":
        return "PRIME+GCR"
    elif row["Flight_Mode"] == "PRIME":
        return "PRIME"
    elif row["Flight_Mode"] == "GCR":
        return "GCR"
    else:
        return "UNKNOWN"

df["Flight_Mode"] = df.apply(get_mode, axis=1)

# STEP 4: Save records with NO_FLIGHT mode (ODs that need alternate routing)
no_flight_df = df[df["Flight_Mode"] == "NO_FLIGHT"]
no_flight_df.to_csv("no_flight_OD_pairs.csv", index=False)
print(" Saved OD pairs with NO_FLIGHT to 'no_flight_OD_pairs.csv'")

# STEP 5: Aggregate volume at airport level
airport_volume = (
    df.groupby(["Origin Airport City", "Destination Airport City"])
    .agg(
        Total_Weight=("Weights", "sum"),
        Total_ChargedWeight=("Conno", "sum"),
        Total_Shipments=("Conno", "sum"),
        Unique_Products=("New Product GCP", pd.Series.nunique),
        Num_OD_Branches=("Destination Branch", pd.Series.nunique),
        Modes=("Flight_Mode", lambda x: ", ".join(sorted(set(x))))
    )
    .reset_index()
)

# STEP 6: Save airport-to-airport volume matrix
airport_volume.to_csv("airport_to_airport_volume.csv", index=False)
print(" Aggregated airport volumes saved to 'airport_to_airport_volume.csv'")

 Saved OD pairs with NO_FLIGHT to 'no_flight_OD_pairs.csv'
 Aggregated airport volumes saved to 'airport_to_airport_volume.csv'

In [ ]:
# prompt: make a dataframe which Contains Origin Branch, Destination Branch, Origin Airport City, Destination Airport City, Weights from no_flight_df

# Make a dataframe with specified columns from no_flight_df
no_flight_subset_df = no_flight_df[[
    'Origin Branch',
    'Destination Branch',
    'Origin Airport City',
    'Destination Airport City',
    'Weights'
]].copy()

no_flight_subset_df.head(30)

,Origin Branch,Destination Branch,Origin Airport City,Destination Airport City,Weights
0,A01-AHMEDABAD APEX,A01-AHMEDABAD APEX,AHMEDABAD,AHMEDABAD,266.57376
1,A01-AHMEDABAD APEX,A01-AHMEDABAD APEX,AHMEDABAD,AHMEDABAD,62.72000
2,A01-AHMEDABAD APEX,A02-BARODA BRANCH,AHMEDABAD,BARODA,0.48000
3,A01-AHMEDABAD APEX,A02-BARODA BRANCH,AHMEDABAD,BARODA,1.61400
4,A01-AHMEDABAD APEX,A03-RAJKOT BRANCH,AHMEDABAD,AHMEDABAD,1428.48000
5,A01-AHMEDABAD APEX,A03-RAJKOT BRANCH,AHMEDABAD,AHMEDABAD,3.61360
6,A01-AHMEDABAD APEX,A04-SURAT APEX,AHMEDABAD,SURAT,4.60000
7,A01-AHMEDABAD APEX,A04-SURAT APEX,AHMEDABAD,SURAT,0.54800
8,A01-AHMEDABAD APEX,A05-VAPI BRANCH,AHMEDABAD,SURAT,4.30208
9,A01-AHMEDABAD APEX,A07-ANKLESHWAR BRANCH,AHMEDABAD,SURAT,0.42552
10,A01-AHMEDABAD APEX,A11-KHOKHRA BRANCH,AHMEDABAD,AHMEDABAD,5.06000
11,A01-AHMEDABAD APEX,A16-KUTCH DDLP SUPER FRANCHISE,AHMEDABAD,AHMEDABAD,6.72000
12,A01-AHMEDABAD APEX,A16-KUTCH DDLP SUPER FRANCHISE,AHMEDABAD,AHMEDABAD,0.18800
13,A01-AHMEDABAD APEX,A17-BARODA SCS APEX,AHMEDABAD,BARODA,4.91960
14,A01-AHMEDABAD APEX,A18-MEHSANA BRANCH,AHMEDABAD,AHMEDABAD,0.96000
15,A01-AHMEDABAD APEX,A24-AHMEDABAD BRANCH,AHMEDABAD,AHMEDABAD,1.18880
16,A01-AHMEDABAD APEX,A27-BHAVNAGAR SORTING OFFICE,AHMEDABAD,SURAT,0.04400
17,A01-AHMEDABAD APEX,A33-JAMNAGAR BRANCH,AHMEDABAD,AHMEDABAD,4.86000
18,A01-AHMEDABAD APEX,A36-AHMEDABAD WEST BRANCH,AHMEDABAD,AHMEDABAD,8.22760
19,A01-AHMEDABAD APEX,A38-GANDHINAGAR BRANCH,AHMEDABAD,AHMEDABAD,0.29200
20,A01-AHMEDABAD APEX,A44-ANAND BRANCH,AHMEDABAD,BARODA,0.36720
21,A01-AHMEDABAD APEX,A45-SURENDRANAGAR BRANCH,AHMEDABAD,AHMEDABAD,1.60000
22,A01-AHMEDABAD APEX,A46-SURAT CITY BRANCH,AHMEDABAD,SURAT,4.39680
23,A01-AHMEDABAD APEX,A47-BHUJ SUPER FRANCHISEE,AHMEDABAD,AHMEDABAD,1.44000
24,A01-AHMEDABAD APEX,A47-BHUJ SUPER FRANCHISEE,AHMEDABAD,AHMEDABAD,0.03800
25,A01-AHMEDABAD APEX,A48-CHILODA BRANCH,AHMEDABAD,AHMEDABAD,0.09600
26,A01-AHMEDABAD APEX,A49-HALOL BRANCH,AHMEDABAD,BARODA,0.02000
27,A01-AHMEDABAD APEX,A50-SANAND BRANCH,AHMEDABAD,AHMEDABAD,0.32000
28,A01-AHMEDABAD APEX,A51-DAHEJ SORTING OFFICE,AHMEDABAD,BARODA,0.01200
80,A01-AHMEDABAD APEX,V05-RAJAHMUNDRY BRANCH,AHMEDABAD,VIJAYAWADA,1.92000

In [ ]:
# prompt: rename the Weights column as Volume in no_flights_df

no_flight_subset_df = no_flight_subset_df.rename(columns={'Weights': 'Volume'})

In [ ]:
no_flight_subset_df.head(40)

,Origin Branch,Destination Branch,Origin Airport City,Destination Airport City,Volume
0,A01-AHMEDABAD APEX,A01-AHMEDABAD APEX,AHMEDABAD,AHMEDABAD,266.57376
1,A01-AHMEDABAD APEX,A01-AHMEDABAD APEX,AHMEDABAD,AHMEDABAD,62.72000
2,A01-AHMEDABAD APEX,A02-BARODA BRANCH,AHMEDABAD,BARODA,0.48000
3,A01-AHMEDABAD APEX,A02-BARODA BRANCH,AHMEDABAD,BARODA,1.61400
4,A01-AHMEDABAD APEX,A03-RAJKOT BRANCH,AHMEDABAD,AHMEDABAD,1428.48000
5,A01-AHMEDABAD APEX,A03-RAJKOT BRANCH,AHMEDABAD,AHMEDABAD,3.61360
6,A01-AHMEDABAD APEX,A04-SURAT APEX,AHMEDABAD,SURAT,4.60000
7,A01-AHMEDABAD APEX,A04-SURAT APEX,AHMEDABAD,SURAT,0.54800
8,A01-AHMEDABAD APEX,A05-VAPI BRANCH,AHMEDABAD,SURAT,4.30208
9,A01-AHMEDABAD APEX,A07-ANKLESHWAR BRANCH,AHMEDABAD,SURAT,0.42552
10,A01-AHMEDABAD APEX,A11-KHOKHRA BRANCH,AHMEDABAD,AHMEDABAD,5.06000
11,A01-AHMEDABAD APEX,A16-KUTCH DDLP SUPER FRANCHISE,AHMEDABAD,AHMEDABAD,6.72000
12,A01-AHMEDABAD APEX,A16-KUTCH DDLP SUPER FRANCHISE,AHMEDABAD,AHMEDABAD,0.18800
13,A01-AHMEDABAD APEX,A17-BARODA SCS APEX,AHMEDABAD,BARODA,4.91960
14,A01-AHMEDABAD APEX,A18-MEHSANA BRANCH,AHMEDABAD,AHMEDABAD,0.96000
15,A01-AHMEDABAD APEX,A24-AHMEDABAD BRANCH,AHMEDABAD,AHMEDABAD,1.18880
16,A01-AHMEDABAD APEX,A27-BHAVNAGAR SORTING OFFICE,AHMEDABAD,SURAT,0.04400
17,A01-AHMEDABAD APEX,A33-JAMNAGAR BRANCH,AHMEDABAD,AHMEDABAD,4.86000
18,A01-AHMEDABAD APEX,A36-AHMEDABAD WEST BRANCH,AHMEDABAD,AHMEDABAD,8.22760
19,A01-AHMEDABAD APEX,A38-GANDHINAGAR BRANCH,AHMEDABAD,AHMEDABAD,0.29200
20,A01-AHMEDABAD APEX,A44-ANAND BRANCH,AHMEDABAD,BARODA,0.36720
21,A01-AHMEDABAD APEX,A45-SURENDRANAGAR BRANCH,AHMEDABAD,AHMEDABAD,1.60000
22,A01-AHMEDABAD APEX,A46-SURAT CITY BRANCH,AHMEDABAD,SURAT,4.39680
23,A01-AHMEDABAD APEX,A47-BHUJ SUPER FRANCHISEE,AHMEDABAD,AHMEDABAD,1.44000
24,A01-AHMEDABAD APEX,A47-BHUJ SUPER FRANCHISEE,AHMEDABAD,AHMEDABAD,0.03800
25,A01-AHMEDABAD APEX,A48-CHILODA BRANCH,AHMEDABAD,AHMEDABAD,0.09600
26,A01-AHMEDABAD APEX,A49-HALOL BRANCH,AHMEDABAD,BARODA,0.02000
27,A01-AHMEDABAD APEX,A50-SANAND BRANCH,AHMEDABAD,AHMEDABAD,0.32000
28,A01-AHMEDABAD APEX,A51-DAHEJ SORTING OFFICE,AHMEDABAD,BARODA,0.01200
80,A01-AHMEDABAD APEX,V05-RAJAHMUNDRY BRANCH,AHMEDABAD,VIJAYAWADA,1.92000
82,A01-AHMEDABAD APEX,V58-VIJAYAWADA BRANCH,AHMEDABAD,VIJAYAWADA,0.01016
86,A02-BARODA BRANCH,A01-AHMEDABAD APEX,BARODA,AHMEDABAD,1.92000
87,A02-BARODA BRANCH,A01-AHMEDABAD APEX,BARODA,AHMEDABAD,0.03600
88,A02-BARODA BRANCH,A02-BARODA BRANCH,BARODA,BARODA,0.60400
89,A02-BARODA BRANCH,A02-BARODA BRANCH,BARODA,BARODA,12.06424
90,A02-BARODA BRANCH,A03-RAJKOT BRANCH,BARODA,AHMEDABAD,0.00008
91,A02-BARODA BRANCH,A03-RAJKOT BRANCH,BARODA,AHMEDABAD,5.70112
92,A02-BARODA BRANCH,A04-SURAT APEX,BARODA,SURAT,52.56080
93,A02-BARODA BRANCH,A04-SURAT APEX,BARODA,SURAT,3.49640
94,A02-BARODA BRANCH,A05-VAPI BRANCH,BARODA,SURAT,0.04216

In [ ]:
no_flight_subset_df.to_csv('no_flight_data.csv')

In [ ]:
# prompt: drop the columns Total_ChargedWeight	Total_Shipments	Unique_Products	Num_OD_Branches Modes, from airport_volume

airport_volume1 = airport_volume.drop(columns=['Total_ChargedWeight', 'Total_Shipments', 'Unique_Products', 'Num_OD_Branches', 'Modes'])

In [ ]:
# prompt: rename the column total weight as weight

airport_volume1 = airport_volume1.rename(columns={'Total_Weight': 'Weight'})
airport_volume1.head(30)

   Origin Airport City Destination Airport City      Weight
0             AGARTALA                 AGARTALA   135.29476
1             AGARTALA                     AGRA     0.31552
2             AGARTALA                AHMEDABAD     1.45456
3             AGARTALA                BANGALORE    58.88232
4             AGARTALA                   BARODA     0.24772
5             AGARTALA             BHUBANESHWAR     0.89832
6             AGARTALA               CHANDIGARH     3.03160
7             AGARTALA                  CHENNAI     1.49120
8             AGARTALA                   COCHIN     0.76208
9             AGARTALA               COIMBATORE     0.63068
10            AGARTALA                 DEHRADUN     3.17392
11            AGARTALA                    DELHI    32.35076
12            AGARTALA                DIBRUGARH    10.69272
13            AGARTALA                 GUWAHATI  3171.71996
14            AGARTALA                HYDERABAD    11.35684
15            AGARTALA                   INDORE     0.15888
16            AGARTALA                   JAIPUR     2.80836
17            AGARTALA                   KANPUR     0.48840
18            AGARTALA                  KOLKATA    86.84940
19            AGARTALA                  LUCKNOW     0.92548
20            AGARTALA                   MUMBAI    13.73820
21            AGARTALA                   NAGPUR     0.33484
22            AGARTALA                    PATNA     0.77484
23            AGARTALA                     PUNE    23.09148
24            AGARTALA                   RAIPUR     0.85580
25            AGARTALA                   RANCHI     1.43520
26            AGARTALA                  SILCHAR   110.05408
27            AGARTALA                 SILIGURI     3.61328
28            AGARTALA                    SURAT     3.17684
29            AGARTALA                   TRICHY     0.29296

In [ ]:
airport_volume1.to_csv('airport_volume_to_volume.csv')